# --- Configuración de uv y Entornos Virtuales ---
.venv/
.uv/

# --- Archivos generados por Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# --- Jupyter Notebooks (Archivos temporales) ---
.ipynb_checkpoints/

# --- Datos o configuraciones locales (Por seguridad/espacio) ---
.env
data/
*.xlsx
*.json

.DS_Store

LilloMaciasSantiago_LosCaballas_H1_3.pdf

Plantilla_Entregas_Sprints_MUIAAP.docx

Enunciados/Propuesta_Proyecto_MUIAAp.pdf
