# --- Configuración de uv y Entornos Virtuales ---
.venv/
.uv/

# --- Archivos generados por Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# --- Jupyter Notebooks (Archivos temporales) ---
.ipynb_checkpoints/

# --- Datos o configuraciones locales (Por seguridad/espacio) ---
.env
data/